In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from collections import Counter

In [2]:
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
iris['species'] = labelencoder.fit_transform(iris['species'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [4]:
def HEntropy(l):
    length = len(l)
    cnt = Counter (l)
    ent = 0
    
    for cl in cnt.values():
        p = cl / length
        l2 = np.log2(p)
        it = -p * l2
    ent += it
    
    return ent

In [5]:
def IG (H, l, i):
    left_l = l[:i]
    right_l = l[i:]
    
    return H(l) - (len(left_l) / len(l)) * H(left_l) - (len(right_l) / len(l)) * H(right_l)

In [6]:
def gain_H(H, l):
    IG_i = []
    
    for i in range(1,len(l)):
        IG_i.append(IG(H, l, i))
    
    IG_i = np.array(IG_i)
    return IG_i

In [7]:
def DataGain(c):
    
    dat_gain = {}
    for col in iris.columns.values:
        dat_gain[col] = max(gain_H(HEntropy, c))
   
    return dat_gain

In [8]:
#определяю MAX значение IG и его ключа

for col in iris.columns:
    colums = iris[col].values
    maxgain = DataGain(colums)
    MG = max(maxgain.items())

print ('MAX значение IG и его ключа:', MG)

MAX значение IG и его ключа: ('species', 0.4839327570220401)

In [11]:
#определяю лист

MG_c = MG[1]

while MG[1] >= MG_c:
    MG_c = MG[1]
    maxgain = DataGain(MG[0])
    MG = max(maxgain.items())

print ('MAX значение IG и его ключа:', MG)

MAX значение IG и его ключа: ('species', 0.03177034590520689)