In [16]:
import pandas as pd
import numpy as np

In [22]:
data2013 = pd.read_csv('short\\GII_2013.csv')
data2013.head(50)

,rank,Economy,Income Group(Strength/Weakness),Strength / Weakness,Value,Score
0,1,Switzerland,NaN,Strength,-,66.6
1,2,Sweden,NaN,Strength,-,61.4
2,3,United Kingdom,NaN,Strength,-,61.2
3,4,Netherlands,NaN,Strength,-,61.1
4,5,United States of America,NaN,NaN,-,60.3
5,6,Finland,NaN,NaN,-,59.5
6,7,Hong Kong (China),NaN,NaN,-,59.4
7,8,Singapore,NaN,NaN,-,59.4
8,9,Denmark,NaN,NaN,-,58.3
9,10,Ireland,NaN,NaN,-,57.9
10,11,Canada,NaN,NaN,-,57.6
11,12,Luxembourg,NaN,NaN,-,56.6
12,13,Iceland,NaN,NaN,-,56.4
13,14,Israel,NaN,NaN,-,56.0
14,15,Germany,NaN,NaN,-,55.8
15,16,Norway,NaN,NaN,-,55.6
16,17,New Zealand,NaN,NaN,-,54.5
17,18,"Korea, Republic of",NaN,NaN,-,53.3
18,19,Australia,NaN,NaN,-,53.1
19,20,France,NaN,NaN,-,52.8
20,21,Belgium,NaN,NaN,-,52.5
21,22,Japan,NaN,NaN,-,52.2
22,23,Austria,NaN,NaN,-,51.9
23,24,Malta,NaN,NaN,-,51.8
24,25,Estonia,NaN,NaN,-,50.6
25,26,Spain,NaN,NaN,-,49.4
26,27,Cyprus,NaN,NaN,-,49.3
27,28,Czech Republic,NaN,NaN,-,48.4
28,29,Italy,NaN,NaN,-,47.8
29,30,Slovenia,NaN,NaN,-,47.3
30,31,Hungary,NaN,NaN,-,46.9
31,32,Malaysia,NaN,NaN,-,46.9
32,33,Latvia,NaN,NaN,-,45.2
33,34,Portugal,NaN,NaN,-,45.1
34,35,China,NaN,NaN,-,44.7
35,36,Slovakia,NaN,NaN,-,42.2
36,37,Croatia,NaN,NaN,-,41.9
37,38,United Arab Emirates,NaN,NaN,-,41.9
38,39,Costa Rica,NaN,NaN,-,41.5
39,40,Lithuania,NaN,NaN,-,41.4
40,41,Bulgaria,NaN,NaN,-,41.3
41,42,Saudi Arabia,NaN,NaN,-,41.2
42,43,Qatar,NaN,NaN,-,41.0
43,44,Montenegro,NaN,NaN,-,41.0
44,45,"Moldova, Republic of",NaN,NaN,-,40.9
45,46,Chile,NaN,NaN,-,40.6
46,47,Barbados,NaN,NaN,-,40.5
47,48,Romania,NaN,NaN,-,40.3
48,49,Poland,NaN,NaN,-,40.1
49,50,Kuwait,NaN,NaN,-,40.0

In [23]:
data2014 = pd.read_csv('short\\GII_2014.csv')
data2014.head()

,rank,Economy,Income Group(Strength/Weakness),Strength / Weakness,Value,Score
0,1.0,Switzerland,NaN,Strength,-,64.8
1,2.0,United Kingdom,NaN,Strength,-,62.4
2,3.0,Sweden,NaN,Strength,-,62.3
3,4.0,Finland,NaN,NaN,-,60.7
4,5.0,Netherlands,NaN,Strength,-,60.6