In [1]:
import pandas as pd
import numpy as np

Загружаю один датафрейм 2013 года, далее добавлю остальные. Сейчас хочу отработать алгоритм на одном ДФ.

In [2]:
data2013f = pd.read_csv('full\\GII_2013_full.csv').reset_index()
data2013f.head(10)

,index,,.1,Rank Indicators,Albania,Algeria,Angola,Argentina,Armenia,Australia,...,United Kingdom.4,United States of America.4,Uruguay.4,Uzbekistan.4,"Venezuela, Bolivarian Republic of.4",Viet Nam.4,Yemen.4,Zambia.4,Zimbabwe.4,Unnamed: 752
0,0,Indicator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Global Innovation Index,,,93.0,138.0,135.0,56.0,59.0,19.0,...,Strength,,,Weakness,,,Weakness,,Weakness,NaN
2,2,Innovation Efficiency Index,,,129.0,141.0,22.0,20.0,42.0,116.0,...,Weakness,Weakness,,Weakness,Strength,Strength,,Strength,Strength,NaN
3,3,Innovation Input,,,77.0,112.0,140.0,78.0,71.0,11.0,...,Strength,Strength,,,Weakness,,Weakness,,Weakness,NaN
4,4,Innovation Output,,,118.0,141.0,117.0,43.0,47.0,32.0,...,Strength,,,Weakness,,,,,,NaN
5,5,Index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,1.,Institutions,,73.0,118.0,136.0,106.0,57.0,11.0,...,,,,,Weakness,Weakness,,,Weakness,NaN
7,7,1.1.,Political environment,,76.0,127.0,122.0,59.0,63.0,14.0,...,,,Strength,Weakness,Weakness,Weakness,Weakness,,Weakness,NaN
8,8,1.1.1.,Political stability and absence of violence/te...,,83.0,129.0,87.0,57.0,75.0,29.0,...,,,Strength,,Weakness,,,Strength,,NaN
9,9,1.1.2.,Government effectiveness,,81.0,113.0,137.0,80.0,74.0,10.0,...,,,,,Weakness,,,,Weakness,NaN

In [3]:
data2013f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Columns: 754 entries, index to Unnamed: 752
dtypes: float64(448), int64(1), object(305)
memory usage: 695.2+ KB

In [4]:
data2013f['Rank Indicators'].unique()

array([nan, ' '], dtype=object)

In [5]:
data2013f.describe()

,index,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain,...,United Kingdom.2,United States of America.2,Uruguay.2,Uzbekistan.2,"Venezuela, Bolivarian Republic of.2",Viet Nam.2,Yemen.2,Zambia.2,Zimbabwe.2,Unnamed: 752
count,118.000000,109.000000,102.000000,94.000000,109.000000,108.000000,112.000000,114.000000,111.000000,98.000000,...,81.000000,77.000000,77.000000,53.000000,65.000000,71.000000,62.000000,64.000000,61.000000,0.0
mean,58.500000,78.110092,99.401961,110.287234,64.844037,63.277778,28.151786,28.921053,82.666667,63.265306,...,381.501235,485.180519,189.566234,88.577358,157.210769,58.794366,25.967742,44.145313,50.022951,NaN
std,34.207699,30.394425,28.680990,31.836823,31.064203,28.223353,22.305500,20.906511,29.158293,36.251570,...,1497.775070,2206.902258,787.281265,341.592913,651.364610,188.403940,69.178140,141.779670,162.991837,NaN
min,0.000000,5.000000,7.000000,18.000000,3.000000,2.000000,2.000000,1.000000,4.000000,1.000000,...,-0.200000,0.100000,0.000000,-1.600000,-1.600000,-0.600000,-5.800000,-0.700000,-1.900000,NaN
25%,29.250000,63.000000,80.500000,97.000000,43.000000,46.500000,11.000000,14.000000,62.500000,33.250000,...,2.400000,1.900000,1.100000,0.300000,0.700000,1.250000,0.300000,0.475000,0.300000,NaN
50%,58.500000,81.000000,105.000000,122.000000,59.000000,61.000000,19.000000,23.000000,84.000000,59.500000,...,10.400000,8.000000,6.100000,3.100000,3.600000,5.200000,2.750000,3.650000,2.400000,NaN
75%,87.750000,94.000000,120.750000,134.000000,87.000000,82.500000,42.250000,37.750000,106.500000,90.750000,...,68.800000,60.000000,39.300000,30.600000,31.300000,27.500000,16.775000,26.475000,38.100000,NaN
max,117.000000,136.000000,141.000000,142.000000,127.000000,129.000000,116.000000,102.000000,127.000000,134.000000,...,9225.800000,13797.600000,5527.700000,1836.300000,4102.400000,1091.600000,374.600000,874.500000,1022.200000,NaN

Предобработка

In [6]:
#Для дальнейшей обработки я делаю лист названий колонок
col_list = list(data2013f)
print(col_list[:10], '\n')
print(col_list[753])

['index', ' ', ' .1', 'Rank Indicators', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia']

Unnamed: 752

In [7]:
#Переименовываю столбцы 
data2013f.rename(columns={col_list[1] : 'Indicator', col_list[2] : 'subindicator', col_list[753] : 'to_del'}, inplace=True)
data2013f.head()

,index,Indicator,subindicator,Rank Indicators,Albania,Algeria,Angola,Argentina,Armenia,Australia,...,United Kingdom.4,United States of America.4,Uruguay.4,Uzbekistan.4,"Venezuela, Bolivarian Republic of.4",Viet Nam.4,Yemen.4,Zambia.4,Zimbabwe.4,to_del
0,0,Indicator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Global Innovation Index,,,93.0,138.0,135.0,56.0,59.0,19.0,...,Strength,,,Weakness,,,Weakness,,Weakness,NaN
2,2,Innovation Efficiency Index,,,129.0,141.0,22.0,20.0,42.0,116.0,...,Weakness,Weakness,,Weakness,Strength,Strength,,Strength,Strength,NaN
3,3,Innovation Input,,,77.0,112.0,140.0,78.0,71.0,11.0,...,Strength,Strength,,,Weakness,,Weakness,,Weakness,NaN
4,4,Innovation Output,,,118.0,141.0,117.0,43.0,47.0,32.0,...,Strength,,,Weakness,,,,,,NaN

In [8]:
#удаляю строку 0 и 5 - они содержат только Nan (видимо для красоты таблички, для открытия в Excel)
data2013f.drop([0, 5], inplace = True)
#удаляю столбец 'to_del' - пустой
data2013f.drop('to_del', axis = 1, inplace = True)
#удаляю столбец 'index' - дублирует атрибут датафрейма
data2013f.drop('index', axis = 1, inplace = True)
#удаляю столбец 'Rank Indicators' - пустой столбец
data2013f.drop('Rank Indicators', axis = 1, inplace = True)
#заполняю пропуски нулями
data2013f.fillna(0, inplace = True)

In [9]:
#в датафрейме есть значения '  ' - несколько пробелов, заменяю их на None
space = data2013f['United States of America.4'][1]
data2013f.replace(space, np.nan, inplace = True)

In [10]:
data2013f.head(10)

,Indicator,subindicator,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,...,United Arab Emirates.4,United Kingdom.4,United States of America.4,Uruguay.4,Uzbekistan.4,"Venezuela, Bolivarian Republic of.4",Viet Nam.4,Yemen.4,Zambia.4,Zimbabwe.4
1,Global Innovation Index,NaN,93.0,138.0,135.0,56.0,59.0,19.0,23.0,105.0,...,NaN,Strength,NaN,NaN,Weakness,NaN,NaN,Weakness,NaN,Weakness
2,Innovation Efficiency Index,NaN,129.0,141.0,22.0,20.0,42.0,116.0,98.0,117.0,...,Weakness,Weakness,Weakness,NaN,Weakness,Strength,Strength,NaN,Strength,Strength
3,Innovation Input,NaN,77.0,112.0,140.0,78.0,71.0,11.0,17.0,92.0,...,NaN,Strength,Strength,NaN,NaN,Weakness,NaN,Weakness,NaN,Weakness
4,Innovation Output,NaN,118.0,141.0,117.0,43.0,47.0,32.0,27.0,114.0,...,NaN,Strength,NaN,NaN,Weakness,NaN,NaN,NaN,NaN,NaN
6,1.,Institutions,73.0,118.0,136.0,106.0,57.0,11.0,13.0,99.0,...,NaN,NaN,NaN,NaN,NaN,Weakness,Weakness,NaN,NaN,Weakness
7,1.1.,Political environment,76.0,127.0,122.0,59.0,63.0,14.0,9.0,123.0,...,NaN,NaN,NaN,Strength,Weakness,Weakness,Weakness,Weakness,NaN,Weakness
8,1.1.1.,Political stability and absence of violence/te...,83.0,129.0,87.0,57.0,75.0,29.0,11.0,100.0,...,NaN,NaN,NaN,Strength,NaN,Weakness,NaN,NaN,Strength,NaN
9,1.1.2.,Government effectiveness,81.0,113.0,137.0,80.0,74.0,10.0,14.0,121.0,...,NaN,NaN,NaN,NaN,NaN,Weakness,NaN,NaN,NaN,Weakness
10,1.1.3.,Press freedom,81.0,101.0,105.0,45.0,61.0,24.0,10.0,125.0,...,Weakness,NaN,NaN,Strength,Weakness,NaN,Weakness,NaN,NaN,NaN
11,1.2.,Regulatory environment,89.0,113.0,135.0,127.0,51.0,14.0,9.0,111.0,...,NaN,NaN,NaN,NaN,NaN,Weakness,Weakness,NaN,Weakness,Weakness